{% load static %}
<link rel="stylesheet" href="{% static './static/inventory/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    
</head>
<body>
    <h1>Inventory</h1>
    <h1>Add Stock Entry</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Stock</button>
        </form>

        <h1>Stock Dashboard</h1>
        <table>
            <tr>
                <th>Product Name</th>
                <th>Current Stock</th>
                <th>Minimum Stock Level</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product.product_name }}</td>
                <td>{{ product.stock_quantity }}</td>
                <td>{{ product.minimum_stock_level }}</td>
            </tr>
            {% endfor %}
        </table>
        
</body>
</html>